.card-item > img {
  border-radius: 0.5rem;
  margin-bottom: 0.2rem;
}

.card-item {
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 0px -1px rgba(212, 211, 211, 0.86);
  -moz-box-shadow: 10px 10px 0px -1px rgba(115,115,115,0.86);
  box-shadow: 10px 10px 0px -1px rgba(115,115,115,0.86);
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.text-container {
  margin-block: 1rem;
  margin-inline: 0.7rem;
}

.text-container_little {
  margin-top: 0.2rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.card-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

@media (max-width: 1286px) {
  .text-container > h1 {
    font-size: 2rem;
  }

  .text-container > h3 {
    font-size: 1.35rem;
  }
}

@media (max-width: 600px) {
  .text-container > h1 {
    font-size: 1.5rem;
  }
}